.show-title {
    background-color: black;
    color: white;
    opacity: 1; /* Initially hidden */
    transition: opacity 0.3s ease;
    display: inline-flex;
    padding-right: 50px;
  }

.menu-container {
    background-color: black;
    padding: 1px;
    text-align: right;
}
/* Menu List Styles */
.menu-list {
    list-style-type: none;
    padding: 3px;
    margin: 3px;
}
/* Menu Item Styles */
.menu-item {
    display: inline-block;
}
.header-name {
    text-align: center;
    background-color: grey;
    font-size: 50px;
}
.p-1{
    width:50%;
    padding: 50px 50px 50px 50px;
    margin-top: 100px;
}
img{
    float: right;
    width:50%;
    margin-top: 50px;
}
.button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .hidden {
    display: none;
  }
  .gwendolyn-regular {
    font-family: "Gwendolyn", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
    text-align: center;
  }
  .gwendolyn-bold {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    text-align: center;
  }
  img{
    float: right;
  }
  .body-container{
    background-color:aliceblue;
  }
  .navajo{
    width: 30%;
    float:right;
  }
  .seattle{
    width:30%;
    float:left;
  }