.menu-link{
    background-color: black;
    color: white;
    transition: opacity 0.3s ease;
    display: inline-flex;
    padding-right: 50px;
  }
.menu-container {
    background-color: black;
    padding: 1px;
    text-align: right;
}
/* Menu List Styles */
.menu-list {
    list-style-type: none;
    padding: 3px;
    margin: 3px;
}
.p-1{
    width:50%;
    padding: 50px 50px 50px 50px;
    margin-top: 100px;
}
.button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .hidden {
    display: none;
  }
  .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    /* padding-top: 100px; */
    text-align: center;
    padding:20px;
  }
  .press-start-2p-regular-2 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    padding-top: 100px;
    text-align: center;
  }
  body{
    background-color: #c9a593;
  }
  .navajo{
    width: 100%;
    height: 100%;
    display: inline;
  }
  .seattle{
    width:100%;
    height: 100%;
    display: inline;
  }
  .dev-image{
    width:100%;
}
.dog-image{
    width:30px;
    height:30px;
    float: left;
    padding-left: 15px;
}
.mtn-image{
    float:right;
    width: 60%;
    padding: 50px 50px 50px 50px;
    position: relative;
}
.footer-container{
  display: absolute;
  padding-top: 10px;
  width:100%;
  height:20%;
  background-color: #6f625b;
  text-align: center;
}
h1{
    background-color: grey;
}
.body-container{
    display: grid;
}
.images-container{
   display: inline-block;
}
.video-container{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.text-container{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}
.contact{
    text-align:center;
    font-size: 50px;
    font: bold;
}
.message{
    width:50%;
    height:50px;
    display: block;
}
.google-maps{
    width: 100%;
}
.p1{
  display: block;
}
.oswald-contact {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
 /* Style all font awesome icons */
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
